{% extends "base.html" %}

{% block content %}
<div class="hero">
  <span id="nickname">
    synzr {% include "emojis/fire.html" %}
  </span>

  <div id="activity" class="loading">
    No activity.
  </div>
</div>

<section id="about-me">
  <h1>About me</h1>

  <p id="about-me-text-1">
    I am a young <i>(15 y/o)</i>, but experienced web developer
    from the heart of ferrous metallurgy in Russia <i>(Magnitogorsk)</i>.
  </p>

  <p id="about-me-text-2">
    I love open source technologies and a
    <a href="{{ config.BREEZEWIKI_INSTANCE_URL }}/dokodemo/wiki/Doko_Demo_Issyo_(Series)">Doko Demo Issyo</a> franchise.
  </p>
</section>

<section id="contacts">
  <h1>Contacts</h1>

  <p id="contacts-social-media">
    {% if config.MASTODON_URL %}
    <a href="{{ config.MASTODON_URL }}" rel="me" class="contact">
      <img src="/static/img/logos/mastodon.svg" alt="Mastodon">
    </a>
    {% endif %}

    {% if config.YOUTUBE_URL %}
    <a href="{{ config.YOUTUBE_URL }}" rel="me" class="contact">
      <img src="/static/img/logos/youtube.svg" alt="YouTube">
    </a>
    {% endif %}

    {% if config.VKONTAKTE_URL %}
    <a href="{{ config.VKONTAKTE_URL }}" rel="me" class="contact">
      <img src="/static/img/logos/vkontakte.svg" alt="VK">
    </a>
    {% endif %}

    {% if config.VKPLAY_URL %}
    <a href="{{ config.VKPLAY_URL }}" rel="me" class="contact">
      <img src="/static/img/logos/vkplay.svg" alt="VK Play">
    </a>
    {% endif %}

    {% if config.STEAM_URL %}
    <a href="{{ config.STEAM_URL }}" rel="me" class="contact">
      <img src="/static/img/logos/steam.svg" alt="Steam">
    </a>
    {% endif %}

    {% if config.TELEGRAM_URL %}
    <a href="{{ config.TELEGRAM_URL }}" rel="me" class="contact">
      <img src="/static/img/logos/telegram.svg" alt="Telegram">
    </a>
    {% endif %}

    {% if config.MATRIX_URL %}
    <a href="{{ config.MATRIX_URL }}" rel="me" class="contact">
      <img src="/static/img/logos/matrix.svg" alt="Matrix">
    </a>
    {% endif %}
  </p>

  {% if config.EMAIL_ADDRESS %}
  <p id="contacts-email">
    E-mail: <a href="mailto:{{ config.EMAIL_ADDRESS }}">{{ config.EMAIL_ADDRESS }}</a>
  </p>
  {% endif %}
</section>

<section>
  <p>
    Source code of this website is avaliable on <a href="https://github.com/synzr/synzr.ru">GitHub</a>.
  </p>
</section>

{% if config.FEDIRING_ENABLED %}
<section id="fediring">
  <h1>Fediring</h1>

  <p id="fediring-links">
    <a href="https://fediring.net/previous?host={{ host }}">Previous</a>
    <a href="https://fediring.net/">I'm feeling lucky</a>
    <a href="https://fediring.net/next?host={{ host }}">Next</a>
  </p>
</section>
{% endif %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/emoji.css">
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/activity.css">
{% endblock %}

{% block templates %}
<template id="template-activity-game">
  <div id="activity">
    Playing <a id="name">Game Name</a> <span id="icon"></span> in a
    <span id="platform"></span>
  </div>
</template>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/activity.js"></script>
{% endblock %}