{% extends "base.html" %}

{% block content %}
<div class="hero">
  <span id="nickname">
    synzr {% include "emojis/fire.html" %}
  </span>

  <div id="activity" class="loading">
    No activity.
  </div>
</div>

<section id="about-me">
  <h1>About me</h1>

  <p id="about-me-text-1">
    I am a young <i>(15 y/o)</i>, but experienced web developer
    from the heart of ferrous metallurgy in Russia <i>(Magnitogorsk)</i>.
  </p>

  <p id="about-me-text-2">
    I love open source technologies and a
    <a
      href="{{ config.BREEZEWIKI_INSTANCE_URL if not config.SELFHOSTED_BREEZEWIKI_URL else config.SELFHOSTED_BREEZEWIKI_URL }}/dokodemo/wiki/Doko_Demo_Issyo_(Series)"
    >Doko Demo Issyo</a> franchise.
  </p>
</section>

{% if config.SELFHOSTED_ENABLED %}
<section id="self-hosted">
  <h1>Self-hosted services</h1>

  <p id="self-hosted-services" class="icon-holder">
    {% if config.SELFHOSTED_NITTER_URL %}
    <span class="icon-wrapper">
      <a href="{{ config.SELFHOSTED_NITTER_URL }}" class="icon">
        <img src="/static/img/logos/nitter.png" alt="Nitter">
      </a>
    </span>
    {% endif %}

    {% if config.SELFHOSTED_BREEZEWIKI_URL %}
    <span class="icon-wrapper">
      <a href="{{ config.SELFHOSTED_BREEZEWIKI_URL }}" class="icon">
        <img src="/static/img/logos/breezewiki.svg" alt="BreezeWiki">
      </a>
    </span>
    {% endif %}
  </p>

  {% if config.SELFHOSTED_NOTE_ABOUT_EU_LOCATION %}
  <p>
    <b>Note:</b> The server of all these self-services is located in the Netherlands.
  </p>
  {% elif config.SELFHOSTED_NOTE_ABOUT_FR_LOCATION %}
  <p>
    <b>Note:</b> The server of all these self-services is located in the France.
  </p>
  {% endif %}
</section>
{% endif %}

<section id="contacts">
  <h1>Contacts</h1>

  <p id="contacts-social-media" class="icon-holder">
    {% if config.MASTODON_URL %}
    <span class="icon-wrapper">
      <a href="{{ config.MASTODON_URL }}" rel="me" class="icon">
        <img src="/static/img/logos/mastodon.svg" alt="Mastodon">
      </a>
    </span>
    {% endif %}

    {% if config.YOUTUBE_URL %}
    <span class="icon-wrapper">
      <a href="{{ config.YOUTUBE_URL }}" rel="me" class="icon">
        <img src="/static/img/logos/youtube.svg" alt="YouTube">
      </a>
    </span>
    {% endif %}

    {% if config.VKONTAKTE_URL %}
    <span class="icon-wrapper">
      <a href="{{ config.VKONTAKTE_URL }}" rel="me" class="icon">
        <img src="/static/img/logos/vkontakte.svg" alt="VK">
      </a>
    </span>
    {% endif %}

    {% if config.VKPLAY_URL %}
    <span class="icon-wrapper">
      <a href="{{ config.VKPLAY_URL }}" rel="me" class="icon">
        <img src="/static/img/logos/vkplay.svg" alt="VK Play">
      </a>
    </span>
    {% endif %}

    {% if config.STEAM_URL %}
    <span class="icon-wrapper">
      <a href="{{ config.STEAM_URL }}" rel="me" class="icon">
        <img src="/static/img/logos/steam.svg" alt="Steam">
      </a>
    </span>
    {% endif %}

    {% if config.TELEGRAM_URL %}
    <span class="icon-wrapper">
      <a href="{{ config.TELEGRAM_URL }}" rel="me" class="icon">
        <img src="/static/img/logos/telegram.svg" alt="Telegram">
      </a>
    </span>
    {% endif %}

    {% if config.MATRIX_URL %}
    <span class="icon-wrapper">
      <a href="{{ config.MATRIX_URL }}" rel="me" class="icon">
        <img src="/static/img/logos/matrix.svg" alt="Matrix">
      </a>
    </span>
    {% endif %}
  </p>

  {% if config.EMAIL_ADDRESS %}
  <p id="contacts-email">
    E-mail: <a href="mailto:{{ config.EMAIL_ADDRESS }}">{{ config.EMAIL_ADDRESS }}</a>
  </p>
  {% endif %}
</section>

<section id="fediring-and-github-link">
  {% if config.FEDIRING_ENABLED %}
  <h1>Fediring</h1>

  <p id="fediring-links">
    <a href="https://fediring.net/previous?host={{ host }}">Previous</a>
    <a href="https://fediring.net/random">I'm feeling lucky</a>
    <a href="https://fediring.net/next?host={{ host }}">Next</a>
  </p>
  {% endif %}

  <p id="github-link">
    Source code of this website is avaliable on <a href="https://github.com/synzr/synzr.ru">GitHub</a>.
  </p>
</section>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/emoji.css">
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/activity.css">
{% endblock %}

{% block templates %}
<template id="template-activity-game">
  <div id="activity">
    Playing <a id="name">Game Name</a> <span id="icon"></span> in a
    <span id="platform"></span>
  </div>
</template>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/activity.js"></script>
{% endblock %}