:root {
  --background-color: #121212;
  --text-color: #ededed;
  --placeholder-text-color: #959595;

  --content-padding-size: 1in;
  --section-gap-size: 0.5in;

  --max-width-text-size: 5in;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--background-color);
  color: var(--text-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-rendering: optimizeLegibility;
  image-rendering: auto;

  width: 100vw;
}

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fira Sans', sans-serif;
  user-select: none;
}

main {
  padding: var(--content-padding-size) 0 0 var(--content-padding-size);
}

section {
  margin-top: var(--section-gap-size);
}

section p {
  max-width: var(--max-width-text-size);
}

a,
::selection {
  background-color: var(--text-color);
  color: var(--background-color);
}

a {
  text-decoration: none;
}

a:hover {
  background-color: var(--background-color);
  color: var(--text-color);
}
