:root {
  --background-color: #121212;
  --text-color: #ededed;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fira Sans', sans-serif;
  user-select: none;
}
